---
---

div {
    $link-color: red;
    text-align: justify;
    text-justify: inter-word;
 }

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials